<%= form_for @item do |f| %>
  <%= f.error_messages %>

  <table>
	<tr>
		<td>
    <%= f.label :name %></td>
<td>
    <%= f.text_field :name %>
</td>
</tr></table>
<h1><strong>Item List</strong></h1> 

<%= f.fields_for :lists do |builder| %>
<%= render 'list_fields' , :f => builder%>
<% end %>
 <div class = 'wrapper'><%= f.submit 'Submit', :class => 'mybutton'%></div>
<% end %>
